@tailwind base;
@tailwind components;
@tailwind utilities;

@import './nprogress.css';

:root {
  --scroll-color: theme(colors.blue.500);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--scroll-color);
}